<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <nav class="navbar navbar-default navbar-fixed-side">
        {{navbar-header}}
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav">
            <li>{{#link-to "games"}}All Games{{/link-to}}</li>
            <li>{{#link-to "search"}}Search{{/link-to}}</li>
            {{#if isAuthenticated}}

            <li>{{#link-to "user" user}}My Games{{/link-to}}</li>
            <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
            <li><a href="#" {{action "signOut"}}>Sign Out</a></li>

            {{else}}

            <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
            <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>

            {{/if}}
          </ul>
        </div>
      </nav>
    </div>
    <div class="container col-sm-9 content">
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}

      {{outlet}}
    </div>
  </div>
</div>
