  <div class="thumbnail lib">
    {{#link-to 'game' library.game}}
      {{#if library.game.cover}}
        {{game-image library.game.cover library.game.name}}
      {{else}}
        <img url="/assets/game.png">
      {{/if}}
    {{/link-to}}
    <div class="caption">
      {{#link-to 'game' library.game}}<h4>{{library.game.name}}</h4>{{/link-to}}
      <p>
        <button class="btn btn-xs btn-lib" {{action "click"}}>
          {{#if library.done}}
            Add to backlog
          {{else}}
            Add to completed games
          {{/if}}
        </button>
        <button class="btn btn-xs btn-del" {{action "del"}}>Delete</button>
      </p>
    </div>
  </div>
