<!-- {{#each games as |game|}}
  <div class="col-sm-3 image" style="background-image: url(https://res.cloudinary.com/igdb/image/upload/t_cover_big/"+{{game.cover.cloudinary_id}}+".jpg);">
    <h4>{{game.name}}</h4>
  </div>
{{/each}} -->

{{#each games as |game|}}
  <p>{{game.name}}</p>
  <p>{{game.cover.cloudinary_id}}</p>
  <p>{{game.videos.[0].name}}</p>
{{/each}}
